<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:fragment="main-css" >
    <link href="/css/hero.css" rel="stylesheet" />
    <link href="/css/features.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <script crossorigin="anonymous"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</th:block>

<th:block th:fragment="lg-sb">
    <link href="/css/sidebars.css" rel="stylesheet" />
    <link href="/css/list-groups.css" rel="stylesheet" />
</th:block>

<th:block th:fragment="ca-sn">
    <link href="/css/signin.css" rel="stylesheet" />
</th:block>

<div th:fragment="header" id="header" class="p-1 bg-dark text-white">
    <div class="d-flex align-items-center justify-content-center justify-content-lg-start">
        <a class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none" href="/">
            <svg aria-label="Bootstrap" class="white-as-snow" height="60" role="img" width="80">
                <use xlink:href="/images/svg/feathers-logo.svg#feathers_logo"/>
            </svg>
        </a>

        <h3 class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 d-none d-lg-block">Feathers
            Logbook</h3>

        <a sec:authorize="!isAuthenticated()" th:href="@{/user/login}" class="btn btn-outline-light me-2" type="button">Login</a>
        <a sec:authorize="!isAuthenticated()" th:href="@{/user/register}" class="btn btn-warning mx-2" type="button">Sign Up</a>

        <div sec:authorize="isAuthenticated()" class="text-end ml-auto mx-2">
            <div class="dropdown">
                <a aria-expanded="false"
                   class="d-flex align-items-center justify-content-center p-3 link-light text-decoration-none"
                   data-bs-toggle="dropdown" id="dropdownUser3">
                    <svg aria-label="Bootstrap" class="white-as-snow" height="35" role="img" width="35">
                        <use xlink:href="/images/svg/svgmaster.svg#account"/>
                    </svg>
                </a>

                <ul aria-labelledby="dropdownUser3" class="dropdown-menu dropdown-menu-dark mx-0 border-0 shadow"
                    style="width: 220px">
                    <li>
                        <a th:href="@{/profile/logbook}" class="dropdown-item d-flex gap-2 align-items-center">
                            <svg class="white-as-snow" height="16" width="16">
                                <use xlink:href="/images/svg/svgmaster.svg#table"/>
                            </svg>
                            Logbook
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/profile/dashboard}" class="dropdown-item d-flex gap-2 align-items-center">
                            <svg class="white-as-snow" height="16" width="16">
                                <use xlink:href="/images/svg/svgmaster.svg#speedometer"/>
                            </svg>
                            Dashboard
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/profile/gpx}" class="dropdown-item d-flex gap-2 align-items-center">
                            <svg class="white-as-snow" height="16" width="16">
                                <use xlink:href="/images/svg/svgmaster.svg#map"/>
                            </svg>
                            Show Map
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/profile/details}" class="dropdown-item d-flex gap-2 align-items-center">
                            <svg class="white-as-snow" height="16" width="16">
                                <use xlink:href="/images/svg/svgmaster.svg#gear-fill"/>
                            </svg>
                            Account
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/profile/admin}" sec:authorize="hasRole('ADMIN')" class="dropdown-item d-flex gap-2 align-items-center">
                            <svg class="white-as-snow" height="16" width="16">
                                <use xlink:href="/images/svg/svgmaster.svg#admin"/>
                            </svg>
                            Admin Panel
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider"/>
                    </li>
                    <li>
                        <form th:action="@{/user/logout}" th:method="POST" id="logoutForm">
                            <a onclick="this.closest('form').submit(null);return false;" href="#"
                               class="dropdown-item d-flex gap-2 align-items-center">
                                <svg class="white-as-snow" height="16" width="16">
                                    <use xlink:href="/images/svg/svgmaster.svg#home"/>
                                </svg>
                                Log out
                            </a>
                        </form>
                    </li>
                    <th:block  sec:authorize="hasRole('VIP')">
                    <li>
                        <hr class="dropdown-divider"/>
                    </li>
                    <li >
                        <a th:href="@{/profile/review}" class="dropdown-item d-flex gap-2 align-items-center">
                            <svg class="white-as-snow" height="16" width="16">
                                <use xlink:href="/images/svg/svgmaster.svg#star"/>
                            </svg>
                            Leave us a review!
                        </a>
                    </li>
                    </th:block>

                </ul>
            </div>
        </div>
    </div>
</div>

<div th:fragment="footer" id="footer" class="d-flex flex-wrap justify-content-between align-items-center mt-1 border-top">
    <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
            <svg class="black-as-night" width="30" height="24">
                <use xlink:href="#bootstrap"/>
            </svg>
        </a>
        <span class="text-muted">&copy; 2021 Don't steal my idea, Inc</span>
    </div>

    <a class="nounderline text-muted" th:href="@{/about}">
        <svg class="black-as-night" width="60" height="60">
            <use xlink:href="/images/svg/feathers-logo.svg#feathers_logo"/>
        </svg>
        About us
    </a>

    <ul class="nav mx-3 col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-3">
            <a class="text-muted" href="https://github.com/Vellani" target="_blank">
                <svg class="black-as-night" width="24" height="24">
                    <use xlink:href="/images/svg/svgmaster.svg#github"/>
                </svg>
            </a>
        </li>
        <li class="ms-3">
            <a class="text-muted" href="https://www.youtube.com/channel/UCP7uyd-OhfcoS6_jgX6fOww" target="_blank">
                <svg class="black-as-night" width="24" height="24">
                    <use xlink:href="/images/svg/svgmaster.svg#youtube"/>
                </svg>
            </a>
        </li>
        <li class="ms-3">
            <a class="text-muted" href="https://www.instagram.com/svet.g.s/" target="_blank">
                <svg class="black-as-night" width="24" height="24">
                    <use xlink:href="/images/svg/svgmaster.svg#instagram"/>
                </svg>
            </a>
        </li>
        <li class="ms-3">
            <a class="text-muted" href="#" >
                <svg class="black-as-night" width="24" height="24">
                    <use xlink:href="/images/svg/svgmaster.svg#facebook"/>
                </svg>
            </a>
        </li>
    </ul>


</div>

<div th:fragment="loading" class="modal fade" id="spin-loading" data-bs-backdrop="true" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="center-screen bg-transparent">
            <div class="d-flex justify-content-center">
                <div class="spinner-border text-danger" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
    </div>
</div>

</html>