<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <title>About us!</title>
    <th:block th:replace="fragments/common :: main-css"></th:block>
</head>


<body>
<div id="container" class="hero-container text-center">
    <div id="header" th:replace="fragments/common :: header"></div>
    <div id="body" class="d-flex justify-content-center">

        <main class="content" style="max-width: 700px">
            <hr>
            <h1>About the author</h1>

           

        </main>

    </div>
    <div id="footer" th:replace="fragments/common :: footer"></div>
</div>
</body>
</html>
