<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <title>Feathers Logbook</title>
    <th:block th:replace="fragments/common :: main-css"></th:block>
    <th:block th:replace="fragments/common :: lg-sb"></th:block>
    <th:block th:replace="fragments/map-view :: map-initialize-scripts"></th:block>
</head>

<body>

<div id="container" class="logbook-container w-100 h-100vh d-inline-block">
    <div id="header" th:replace="fragments/common :: header"></div>
    <div id="body">
            <div class="px-4 py-0" id="icon-grid">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 g-4 py-4">

                    <!-- this is the first view for statistics -->
                    <div class="col">
                        <div class="card card-cover text-white bg-dark rounded-5 shadow-lg">
                            <div class="d-flex align-items-center m-3">
                                <svg class="bi text-muted me-3" height="1.75em" width="1.75em">
                                    <use xlink:href="..\static\images\svg\svgmaster.svg#toggles2"/>
                                </svg>
                                <div>
                                    <p class="fw-bold mb-0">Total Logs: 630</p>
                                    <p class="fw-bold mb-0">Total Flight Time: 4000:34</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- This is the View containing the aircraft -->
                    <div class="col">

                        <div class="alert alert-danger alert-dismissible fade show" role="alert"
                             th:if="${cannotdelete}">
                            <div>Cannot Delete aircraft that exists in Flight logs!</div>
                            <button aria-label="Close" class="btn-close" data-bs-dismiss="alert" type="button"></button>
                        </div>

                        <div class="d-flex justify-content-end pb-3" aria-current="true">
                            <a class="btn btn-warning rounded-5" th:href="@{/profile/aircraft}" type="button">Add new
                                Flight</a>
                        </div>

                        <div class="list-group">

                            <!-- This is a Card for each Aircraft -->
                            <div aria-current="true" class="list-group-item list-group-item-action"
                                 th:each="o : ${aircraft}">
                                <div class="d-flex justify-content-between">
                                    <div class="row d-flex flex-fill align-items-center">

                                        <div class="col-auto me-auto">
                                            <img alt="twbs"
                                                 class="rounded-circle" height="45"
                                                 th:src="*{o.getPictureUrl()}"
                                                 width="45"/>
                                        </div>

                                        <div class="col">
                                            <div class="d-flex gap-2 w-100 justify-content-between">
                                                <div>
                                                    <p class="mb-0" th:text="*{o.registration}"></p>
                                                    <p class="mb-0 opacity-75" th:text="*{o.icaoModelName}"></p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col">
                                            <div class="d-flex gap-2 w-100 justify-content-between">
                                                <div>
                                                    <p class="mb-0" th:text="'Flights: ' + *{o.flights}"></p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col d-flex justify-content-end">
                                            <div class="btn-group" style="width: auto">
                                                <button aria-expanded="false"
                                                        class="btn btn-outline-secondary dropdown-toggle"
                                                        data-bs-toggle="dropdown"
                                                        id="dropdownMenuButton1" type="button">
                                                    Actions
                                                </button>
                                                <ul aria-labelledby="dropdownMenuButton1"
                                                    class="dropdown-menu dropdown-menu-dark mx-0 border-0 shadow">
                                                    <li>
                                                        <a class="dropdown-item d-flex gap-2 align-items-center"
                                                           th:href="@{/profile/aircraft(id = *{o.getId()})}">
                                                            <svg class="bi" height="16" width="16">
                                                                <use xlink:href="/images/svg/svgmaster.svg#gear-fill"/>
                                                            </svg>
                                                            View/Edit
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <hr class="dropdown-divider"/>
                                                    </li>
                                                    <li>
                                                        <form th:action="@{/profile/aircraft/delete(id = *{o.getId()})}"
                                                              th:method="POST">
                                                            <a class="dropdown-item d-flex gap-2 align-items-center"
                                                               href="#"
                                                               onclick="this.parentNode.submit(); return false;">
                                                                <svg class="bi" height="16" width="16">
                                                                    <use xlink:href="/images/svg/svgmaster.svg#trash"/>
                                                                </svg>
                                                                Delete
                                                            </a>
                                                        </form>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- This is the view for all aerodromes -->
                    <div class="col">
                        <div class="card card-cover text-white bg-dark rounded-5 shadow-lg">
                            <div class="d-flex align-items-center m-3">
                                <div class="list-group w-100">
                                    <!-- remove this if there are aerodromes -->
                                    <div aria-current="true"
                                         class="list-group-item list-group-item-action d-flex justify-content-center">
                                        <h5>There seems to be nothing here</h5>
                                    </div>

                                    <!-- This is a Card for each aerodrome -->
                                    <div aria-current="true" class="list-group-item list-group-item-action">
                                        <div class="d-flex justify-content-between">
                                            <div class="row w-100 d-flex align-items-center" style="margin: 0">
                                                <div style="width: auto">
                                                    <img alt="twbs"
                                                         class="rounded-circle flex-shrink-0" height="45"
                                                         src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.downloadclipart.net%2Flarge%2F8751-flag-of-eu-design.png&f=1&nofb=1"
                                                         width="45"/>
                                                </div>
                                                <div class="col-4 flex-fill">
                                                    <div class="d-flex gap-2 w-100 justify-content-between">
                                                        <div>
                                                            <p class="mb-0">Sofia (LBSF)</p>
                                                            <p class="mb-0 opacity-75">Times visited: 23</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <div id="footer" th:replace="fragments/common :: footer"></div>
</div>

</body>

<script th:replace="fragments/map-view :: map-scripts"></script>
</html>
