<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">


<head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <title>Something Went Wrong!</title>
    <th:block th:replace="fragments/common :: main-css"></th:block>
</head>


<body>
<div id="container" class="hero-container text-center">
    <div id="header" th:replace="fragments/common :: header"></div>
    <div id="body" class="row d-flex align-items-center">
        <div class = "col">
            <h5 th:text="${message}"></h5>
            <h5 th:text="'Error Code: ' + ${code}"></h5>
            <h5><a href="/">Go to homepage</a></h5>
        </div>
        <div class = "col error-container"></div>
    </div>
    <div id="footer" th:replace="fragments/common :: footer"></div>
</div>
</body>
</html>