<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">


<head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <title>Something Went Wrong!</title>
    <th:block th:replace="fragments/common :: main-css"></th:block>
</head>


<header th:replace="fragments/common :: header"></header>
<body class="hero-container text-center">
    <div class="row d-flex align-items-center" style="height: 100%">
        <div class = "col">
            <h5 th:text="${message}"></h5>
            <h5 th:text="'Error Code: ' + ${code}"></h5>
        </div>
        <div class = "col error-container"></div>
    </div>
</body>
</html>