<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <title>Feathers Logbook</title>

    <th:block th:replace="fragments/common :: main-css"></th:block>
    <link href="/css/list-groups.css" rel="stylesheet"/>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>

    <th:block th:replace="fragments/map-view :: map-initialize-scripts"></th:block>
</head>

<body>
<!-- HEADER -->
<header th:replace="fragments/common :: header"></header>

<main style="height: 100%; width: 100%">
    <div id="gpxMap" style="height: 100%; width: 100%"></div>
</main>
<footer th:replace="fragments/common :: footer"></footer>
<script src='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-omnivore/v0.3.1/leaflet-omnivore.min.js'></script>

<script>
    var myMap = L.map("gpxMap");

    let baseLayer = L.tileLayer("https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw", {
        maxZoom: 18,
        id: "mapbox/streets-v11",
        tileSize: 512,
        zoomOffset: -1,
    }).addTo(myMap);

    var layer = omnivore.gpx('/api/param?gpx=' + 2);

    layer.on('ready', function () {
        myMap.fitBounds(layer.getBounds(), {padding: [5, 5]});
    }).addTo(myMap);
</script>
</body>


</html>