<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <title>Feathers Logbook</title>
    <th:block th:replace="fragments/common :: main-css"></th:block>
    <th:block th:replace="fragments/common :: lg-sb"></th:block>
    <th:block th:replace="fragments/map-view :: map-initialize-scripts"></th:block>
    <th:block th:replace="fragments/map-view :: map-scripts"></th:block>



</head>


<body>
<div th:replace="fragments/map-view :: map"></div>

<div id="container" class="logbook-container w-100 h-100vh d-inline-block overflow-auto">
    <div id="header" th:replace="fragments/common :: header"></div>
    <div id="body">
        <div class="container px-4 py-0" id="icon-grid">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-4">
                <div class="col">
                    <div class="card card-cover text-white bg-dark rounded-5 shadow-lg">
                        <div class="d-flex align-items-center m-2">
                            <svg class="bi text-muted me-3" height="1.75em" width="1.75em">
                                <use xlink:href="/images/svg/svgmaster.svg#toggles2"/>
                            </svg>
                            <div>
                                <p class="fw-bold mb-0"
                                   th:text="'Total Flights: ' + ${listedLogViewModelList.size()}"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div></div>
                <div></div>
                <div class="d-flex justify-content-end">
                <div>
                    <a class="btn btn-warning rounded-5" th:href="@{/profile/log}" type="button">Add new Flight</a>
                </div>
                </div>
            </div>
        </div>
        <div class="container px-4 py-1">
            <div class="list-group">

                <div th:each="o : ${listedLogViewModelList}" aria-current="true"
                     class="d-flex flex-wrap list-group-item list-group-item-action row-cols-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 align-items-center">
                    <div class="col d-flex flex-column align-items-start">
                        <div class="d-flex align-items-center">
                            <img th:src="'/images/flags/svg/' + *{o.getDepartureFlag()} + '.svg'" alt="" height="25"
                                 width="25" style="margin-right: 0.5rem"/>
                            <div th:text="*{o.getDepartureAerodrome()}" class="d-flex gap-1 align-items-center"></div>
                        </div>
                        <div th:text="*{o.getDepartureTime()}" class="opacity-75"><!-- 11:11 --></div>
                    </div>

                    <div class="col d-flex flex-column align-items-end">
                        <div class="d-flex align-items-center">
                            <div th:text="*{o.getArrivalAerodrome()}" class="d-flex gap-1 align-items-center"
                                 style="text-align:right;"></div>
                            <img th:src="'/images/flags/svg/' + *{o.getArrivalFlag()} + '.svg'" alt="" height="25"
                                 width="25" style="margin-left: 0.5rem"/>
                        </div>
                        <!--                        <div>LBSF</div>-->
                        <div th:text="*{o.getArrivalTime()}" class="opacity-75"></div>
                    </div>

                    <div class="col d-flex flex-column align-items-end">
                        <div th:text="*{o.getRegistration()}"></div>
                        <div th:text="*{o.getAircraftModel()}" class="opacity-75"></div>
                    </div>

                    <div class="col d-flex justify-content-end">
                        <div class="btn-group">
                            <button th:text="*{o.getDateOfLog()}" aria-expanded="false"
                                    class="btn btn-outline-secondary dropdown-toggle"
                                    data-bs-toggle="dropdown" id="dropdownMenuButton1" type="button">
                                <!--                                11.11.2021 -->
                            </button>
                            <ul aria-labelledby="dropdownMenuButton1"
                                class="dropdown-menu dropdown-menu-dark mx-0 border-0 shadow">
                                <li>
                                    <a class="dropdown-item d-flex gap-2 align-items-center"
                                       th:href="@{/profile/log(id = *{o.getId()})}">
                                        <svg class="bi" height="16" width="16">
                                            <use xlink:href="/images/svg/svgmaster.svg#gear-fill"/>
                                        </svg>
                                        View/Edit
                                    </a>
                                </li>
                                <li th:if="*{o.hasGPX}">
                                    <a th:attr="onclick=|showGpx('*{o.getId()}')|"
                                       class="dropdown-item d-flex gap-2 align-items-center" data-bs-toggle="modal"
                                       data-bs-target="#mapModal" href="">
                                        <svg class="bi" height="16" width="16">
                                            <use xlink:href="/images/svg/svgmaster.svg#map"/>
                                        </svg>
                                        Show Map
                                    </a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider"/>
                                </li>
                                <li>
                                    <form th:method="POST" th:action="@{/profile/log/delete(id = *{o.getId()})}">
                                        <a class="dropdown-item d-flex gap-2 align-items-center"
                                           onclick="this.parentNode.submit(); return false;" href="#">
                                            <svg class="bi" height="16" width="16">
                                                <use xlink:href="/images/svg/svgmaster.svg#trash"/>
                                            </svg>
                                            Delete
                                        </a>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div id="footer" th:replace="fragments/common :: footer"></div>
</div>
<script>

    var myMap = L.map("gpxMap");

    let baseLayer = L.tileLayer("https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw", {
        maxZoom: 18,
        id: "mapbox/streets-v11",
        tileSize: 512,
        zoomOffset: -1,
    }).addTo(myMap);

    $('#mapModal').on('shown.bs.modal', function () {
        myMap.invalidateSize();
    });

    function showGpx(id) {

        var layer = omnivore.gpx('/api/param?gpx=' + id);

        myMap.eachLayer(function (layer) {
            myMap.removeLayer(layer);
        });

        baseLayer.addTo(myMap);


        layer.on('ready', function () {
            myMap.fitBounds(layer.getBounds(), {padding: [5, 5]});
        }).addTo(myMap);

    }
</script>
</body>

</html>
