<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <title>Feathers Logbook</title>
    <th:block th:replace="fragments/common :: main-css"></th:block>
</head>

<body>

<div id="container" class="hero-container text-center">

    <th:block th:replace="fragments/common :: loading"></th:block>

    <div id="header" th:replace="fragments/common :: header"></div>
    <div id="body">
        <main class="form-custom">
        <form method="POST" th:action="@{/user/login}">

            <svg aria-label="Bootstrap" class="bi me-2" height="150" role="img" width="150">
                <use xlink:href="/images/svg/feathers-logo.svg#feathers_logo"/>
            </svg>

            <h1 class="h3 mb-3 fw-normal">Log in</h1>

            <div th:if="*{invalid}" class="form-seperated form-floating">
                <div class="alert alert-danger" role="alert">Wrong Username or Password!</div>
            </div>

            <div class="form-seperated form-floating">
                <input type="text" class="form-control"
                       id="username"
                       name="username"/>
                <label for="username">Username</label>
            </div>

            <div class="form-seperated form-floating">
                <input id="password" name="password" class="form-control"  type="password">
                <label for="password">Password</label>
            </div>

            <button class="w-100 mt-3 btn btn-lg btn-primary" type="submit"
                    data-bs-toggle="modal"
                    data-bs-target="#spin-loading">Sign in</button>

        </form>
    </main>
    </div>
    <div id="footer" th:replace="fragments/common :: footer"></div>

</div>
</body>
</html>




