<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <title>Feathers Logbook</title>
    <th:block th:replace="fragments/common :: main-css"></th:block>

</head>

<body>
<th:block th:replace="fragments/common :: loading"></th:block>

<div id="container" class="hero-container text-center">
<div id="header" th:replace="fragments/common :: header"></div>
<div id="body">
<main class="form-custom">
    <form th:method="POST" th:action="@{/profile/review}" th:object="${reviewBindingModel}">

        <svg aria-label="Bootstrap" class="bi me-2" height="150" role="img" width="150">
            <use xlink:href="/images/svg/feathers-logo.svg#feathers_logo"/>
        </svg>

        <h1 class="h3 mb-3 fw-normal">Review us!</h1>

        <div class="input-group mt-3 pb-2">
            <span class="input-group-text ">Rating</span>
            <select th:field="*{rating}" class="form-select" style="max-width: 60px" required>
                <option th:value="1">1</option>
                <option th:value="2">2</option>
                <option th:value="3">3</option>
                <option th:value="4">4</option>
                <option th:value="5">5</option>
            </select>
        </div>

        <textarea th:field="*{content}" type="text" class="form-control" placeholder="Other information..."
                  style="width: 100%"></textarea>
        <div th:if="${#fields.hasErrors('content')}" th:errorclass="error" th:errors="*{content}" style="color: red" />

        <button class="w-100 mt-3 btn btn-lg btn-primary" type="submit" data-bs-toggle="modal" data-bs-target="#spin-loading">Submit</button>

    </form>
</main>
</div>
<div id="footer" th:replace="fragments/common :: footer"></div>
</div>
</body>
</html>




